<div class="followings">
  <h3>フォロー一覧</h3>
  <% @followings.each do |follow| %>
    <section class="card">
      <div class="card-content">
        <%= link_to follow.email, "/users/#{follow.id}", class: "card-link" %>
      </div>
    </section>
  <% end %>
</div>
