<% while @num < @long do %>
  <div>
    <div>
      住所：<%= @restaurants[@num]["address"]  %>
    </div>
    <div>
      店名：<%=link_to @restaurants[@num]["name"], "#{@restaurants[@num]["url"]}" %>
    </div>
  </div>
  <% @num += 1 %>
<% end %>
