<div class="followers">
  <h3>フォロワー一覧</h3>
  <% @followers.each do |follower| %>
    <section class="card">
      <div class="card-content">
        <%= link_to follower.email, "/users/#{follower.id}", class: "card-link" %>
      </div>
    </section>
  <% end %>
</div>
