/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';



@media screen and (max-width: 767px) {

  nav {
    .logo {
      font-size: 16px;

      .logo_sub {
        font-size: 9px;

      }
    }
    .nav-item {
      margin: auto;

    }
    .navbar-brand {
      color: gray;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }

  #sessions-new, #registrations-new, #passwords-new, #confirmations-new, #registrations-create, #confirmations-create, #passwords-edit {
    font-size: 14px;

    .btn {
      color: gray;
      text-decoration: none;
      width: 40%;
      font-size: 15px;
      border: 1px solid gray;

      &:hover {
        color: black;
      }
    }
    .field {
    margin-bottom: 15px;
    }
    .actions {
      margin-bottom: 15px;
    }
    
    .error_title {
      font-size: 15px;
      color: red;

    }
    .error_message {
      list-style: none;
      font-size: 15px;
      color: red;

    }
    .devise_btn {
      font-size: 15px;
      text-decoration: none;
      display: block;
      width: 90%;
      background: #f8f9fa;
      margin: auto;
    }
  }
}

@media screen and (min-width: 768px) {

  a {
    color: gray;
    text-decoration: none;
    font-size: 13px;

    &:hover {
      color: black;

    }
  }

  nav {
    .logo {
      font-size: 16px;

      .logo_sub {
        font-size: 9px;

      }
    }
    .nav-item {
      margin: auto;

    }
  }

  #sessions-new, #registrations-new, #passwords-new, #confirmations-new, #registrations-create, #confirmations-create, #passwords-edit {
    font-size: 14px;
    .btn {
      color: gray;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        color: black;
      }
    }
    .error_title {
      font-size: 15px;
      color: red;
    }
    .error_message {
      list-style: none;
      font-size: 15px;
      color: red;
    }
  }
}

