/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// PC用レイアウト
@media screen and (max-width: 600px) {

  html {
    font-size: 16px;
  }

  nav {
    .logo {
      font-size: 16px;

      .logo_sub {
        font-size: 9px;

      }
    }

    .nav-item {
      margin: auto;

    }

    .navbar-brand {
      color: gray;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }

}

// スマホ用レイアウト
@media screen and (min-width: 599px) {

  html {
    font-size: 16px;
  }
  .container {
    max-width: 900px !important;
  }

  a, .btn {
  color: gray;
  text-decoration: none;
  font-size: 1.1rem !important;
  margin-bottom: 30px !important;
    &:hover {
      color: black;
    }
  }

  nav {
    .logo {
      font-size: 2rem;
      color: gray !important;
      margin: auto 0 !important;

      p {
        margin: auto 0;
      }

      .logo-sub {
        display: none;
      }
    }
    
    .humberger-logo {
      width: 130px;
      height: 60px;
      margin-right: 20px;

      .navbar-toggler-icon {
        width: 50px;
      }
    }

    .humberger-inner {
      .navbar-nav {
        text-align: center;

        .navbar-item {
          margin: auto;
          height: 60px;

          .nav-link {
            font-size: 2rem;
          }
        }
      }
    }
  }

}

