/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// PC用レイアウト /////////////////////////////////////
@media screen and (min-width: 768px) {

  html {
    font-size: 16px;
  }
  
  a, .btn {
    color: gray !important;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
      &:hover {
        color: black !important;
      }
    }

  p {
    margin: 0 !important;
  }

  nav {
    .logo-space {
      margin-bottom: 0 !important;
      padding-bottom: 0;
      .logo {
        font-size: 1.5rem;
      }
    }
  
    .nav-item {
      margin: auto;
      .nav-link {
        padding-bottom: 0;
      }
    }
  }

  .error_title {
    font-size: 1rem;
    color: red;

  }

  .error_message {
    list-style: none;
    font-size: 1rem;
    color: red;
  }
}




// スマホ用レイアウト ///////////////////////////////////
@media screen and (max-width: 767px) {

  html {
    font-size: 16px;
  }
  .container {
    max-width: 590px !important;
  }

  a, .btn {
  color: gray !important;
  text-decoration: none;
  font-size: 1.1rem;
  margin-bottom: 1rem;
    &:hover {
      color: black !important;
    }
  }
  p {
    margin: 0 !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }

  nav {
    .logo-space {
      margin-bottom: 0 !important;
      padding-bottom: 0;
      .logo {
        font-size: 1.5rem !important;
        color: gray !important;
        margin: auto 0 !important;
        p {
          margin: auto 0;
        }
      }
    }
    
    .humberger-logo {
      width: 60px;
      height: 40px;
      margin-right: 20px;

      .navbar-toggler-icon {
        width: 30px;
      }
    }

    .humberger-inner {
      .navbar-nav {
        text-align: center;

        .navbar-item {
          margin: auto;
          height: 60px;

          .nav-link {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .error_title {
    font-size: 1rem;
    color: red;
  }

  .error_message {
    list-style: none;
    font-size: 1rem;
    color: red;
  }

}

