@media screen and (max-width: 600px) {
  #follows-index {
    .card-header {
      margin-bottom: 20px;
    }
    a {
      color: gray;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
    .follow_box {
      width: 100% !important;
      margin-bottom: 20px !important;
      height: 40px;
  
      .card-content {
        margin: auto;
      }
  
      .email_consequence {
        font-size: 17px;
      }
    }
  }
}



// スマホ用レイアウト
@media screen and (min-width: 599px) {
  #follows-index {
    .follow-ttl {
      margin-bottom: 20px;

      p {
        font-size: 1.5rem;
        color: gray;
        margin: 0;
      }
    }

    .follow-field{
      margin: 5px auto;
    }
  }
}


