@media screen and (max-width: 600px) {

  #gones-index {
    .card {
      margin-bottom: 15px;

      .card-content {
        
        .gone-name, .comment {
          font-size: 13px;
        }
        
        .gone-address {
          font-size: 12px;
        }
        
        .image-field {
          margin: 0 auto;
          
          .image-field-inner {
            height: 400px;
            width: 100%;
            
            img {
              height: inherit;
              width: inherit;
            }
          }
        }
        
        .date {
          color: gray;
          font-size: 11px;
          font-weight: bold;
        }
        
        .detail-btn, .delete-btn {
          width: 40%;
          border: gray 1px solid;
          margin-bottom: 15px;
          font-size: 13px;
          color: gray;
        }
      }
    }
  }
  

  #gones-show {
    .info_big_box {
      margin-bottom: 15px;

      .info_box {
        .image-field {
          margin-bottom: 30px;

          .image-field-inner {
            height: 400px;
            width: 100%;
            
            img {
              height: inherit;
              width: inherit;
            }
          }
        }
        .name {
          margin-bottom: 20px;
          font-size: 16px;
        }
        .address, .opentime, .holiday, .budget {
          font-size: 12px;
          margin-bottom: 5px;
        }
        .comment_box {
          font-size: 13px;
          margin-bottom: 7px;
          text-align: center !important;

          span {
            font-weight: bold;
          }
        }
        .date {
          color: gray;
          font-size: 11px;
          font-weight: bold;
          margin-bottom: 20px !important;
          text-align: center !important;
        }
        .go_top_btn, .delete_btn {
          width: 40%;
          border: gray 1px solid;
          margin-bottom: 15px;
          font-size: 13px;
          color: gray;
        }
      }
    }
    .action_big_box {
      .update_btn, .to_post_btn {
          width: 40%;
          border: gray 1px solid;
          margin-bottom: 15px;
          font-size: 13px;
          color: gray;
      }
      .update_file, .to_post_file {
        margin-bottom: 10px;
        font-size: 12px;
      }
      .to_post_form, .update_form {
        margin-bottom: 10px;
        height: 100px;
      }
    }
  }
}



// スマホ用レイアウト
@media screen and (min-width: 599px) {

  #gones-index {
    h3 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    .card-content {
      .name {
        font-size: 1rem;
        margin-bottom: 30px;
      }
      .address {
        font-size: 1rem;
        margin-bottom: 30px;
      }
      .image-field {
        min-width: 100px;
        .image {
          height: 100px;
          max-height: 100px;
          margin: 0 auto;
        }
      }
      .comment {
        font-size: 1rem;
      }
      .date {
        color: gray;
        font-size: 1rem;
      }
      .action {
        .detail-btn {
          font-size: 1.4rem;
          width: 200px;
        }
        .delete-btn {
          font-size: 1.4rem;
          width: 200px;
        }
      }
    }
  }
  

  #gones-show {
    h3 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    .info-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 30px;

        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .image-field {
          .image-field-inner {
            min-width: 150px;
            .image {
              height: 150px;
              width: 150px;
            }
          }
        }
        .name, .address, .opentime, .holiday, .budget {
          font-size: 1rem;
          margin-bottom: 30px;
        }
        .comment-field {
          margin-bottom: 30px;

          .comment-label {

          }
          .comment {
            font-size: 1rem;
            span {
              font-weight: bold;
            }
          }
        }
        .date {
          color: gray;
          font-size: 1rem;
          margin-bottom: 30px !important;
        }
        .action {
          .top-page-field, .delete-field {
            .go-top-btn, .delete-btn {
              width: 200px;
              font-size: 1.4rem;
              color: gray;
            }
          }
        }

      }
    }


    .action-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 30px;

        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .update-field {
          .form-group {
            .update-form {
              margin-bottom: 30px;
              height: 100px;
              width: 100%;
              font-size: 1rem;
            }
            .update-file {
              margin-bottom: 30px;
              font-size: 1rem;
            }
          }
          .update-btn {
            width: 40%;
            margin-bottom: 30px;
            font-size: 1.4rem;
            color: gray;
          }
        }
        .post-form-field {
          .form-group {
            .post-form {
              margin-bottom: 30px;
              height: 100px;
              width: 100%;
              font-size: 1rem;
            }
            .post-file {
              margin-bottom: 30px;
              font-size: 1rem;
            }
          }
          .post-btn {
            width: 40%;
            margin-bottom: 30px;
            font-size: 1.4rem;
            color: gray;
          }
        }
      }
    }
  }
}