@media screen and (min-width: 768px) {
  #gurunabi-search {
    h3 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    .search-form-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 30px;

        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .form-group {
          .label {
            margin-bottom: 1rem !important;
            font-size: 1rem;
          }
          .name-form {
            margin-bottom: 1rem ;
            width: 100%;
            font-size: 1rem;
          }
          .label {
            margin-bottom: 1rem !important;
            font-size: 1rem;
          }
          .freeword-form {
            margin-bottom: 2rem ;
            width: 100%;
            font-size: 1rem;
          }
          .search-btn-field {
            .search-btn {
              width: 100px;
              margin-bottom: 1rem ;
              font-size: 1rem;
              color: gray;
            }
          }
        }
      }
    }

    .search-hits-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 1rem  !important;

        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .rest-field {
          margin-bottom: 0.8rem  !important;
          .card-content-2 {
            .name {
              font-size: 0.8rem;
            }
            .address {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }

  #gurunabi-show {
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem ;
    }
    .search-show-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 1rem ;
        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .card-item {
          font-size: 1rem;
          margin-bottom: 1rem ;
        }
      }
    }
    .action-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 30px !important;

        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .form-group {
          .caption-form {
            margin-bottom: 30px;
            height: 100px;
            width: 100%;
            font-size: 1rem;
          }
          .list-name-form {
            margin-bottom: 30px;
            width: 100%;
            font-size: 1rem;
          }
        }
        .add-list-btn {
          width: 200px;
          font-size: 0.8rem;
          color: gray;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}


//////////////////////////////////////////////////////////////////////////
// スマホ用レイアウト/////////////////////////////////////////////////////
@media screen and (max-width: 767px) {

  #gurunabi-search {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem ;
    }
    .search-form-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 1rem ;
        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .form-group {
          .label {
            margin-bottom: 1rem !important;
            font-size: 1rem;
          }
          .name-form {
            margin-bottom: 1rem ;
            width: 100%;
            font-size: 1rem;
          }
          .label {
            margin-bottom: 1rem !important;
            font-size: 1rem;
          }
          .freeword-form {
            margin-bottom: 1rem ;
            width: 100%;
            font-size: 1rem;
          }
          .search-btn-field {
            text-align: center;
            .search-btn {
              width: 40%;
              margin-bottom: 1rem ;
              font-size: 0.8rem;
              color: gray;
            }
          }
        }
      }
    }

    .search-hits-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 1rem;
        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .rest-field {
          margin-bottom: 1rem !important;
          .card-content-2 {
            .name-space {
              height: 50px;
              .name {
                font-size: 1rem;
              }
            }
            .address {
              height: 50px;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }


  #gurunabi-show {
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem ;
    }
    .search-show-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 1rem ;

        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .card-item {
          font-size: 1rem;
          margin-bottom: 1rem ;
        }
      }
    }
    .action-field {
      .card-header {
        font-size: 1rem;
        margin-bottom: 2rem !important;

        p {
          margin-top: 1rem;
        }
      }
      .card-content {
        .form-group {
          .caption-form {
            margin-bottom: 2rem;
            height: 100px;
            width: 100%;
            font-size: 1rem;
          }
          .list-name-form {
            margin-bottom: 2rem;
            width: 100%;
            font-size: 1rem;
          }
        }
        .add-list-btn {
          width: 200px;
          font-size: 0.8rem;
          color: gray;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
