// @media screen and (max-width: 768px) {
/////////////////////////////////////////////////
  #user-index {
    h3 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    p {
      margin: 0;
      padding: 0;
    }
    .search-area {
      .title-space {
        margin-bottom: 2rem !important;
        .title {
          font-size: 1rem;
        }
      }
      .search-field {
        .search-space {
          margin-bottom: 1rem;
          .label {
            font-size: 1rem;
            margin-bottom: 2rem;
          }
          .search-space-inner {
            .search-form {
              height: 40px;
              width: 200px;
              font-size: 1rem;
              margin-right: 2rem !important;
            }
            .search-btn {
              margin: 0 !important;
              font-size: 0.8rem;
            }
          }
        }
      }
    }
    .hit-area {
      .title-space {
        margin-bottom: 2rem;
        .title {
          font-size: 1rem;
        }
      }
      .hit-field {
        .hit-space {
          margin: auto;
          margin-bottom: 1rem ;
          .email-btn {
            font-size: 1rem;
            margin: 0 !important;
            padding: 0.5rem 0;
          }
        }
      }
    }
  }

/////////////////////////////////////////////////
  #user-show {
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      margin: 0 !important;
    }
    .follows-field {
      margin-bottom: 2rem;
      .email-space {
        .email {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
      .action-space {
        .search-btn {
          margin: 0;
          margin-right: 2rem;
          border: none;
          font-size: 0.8rem;
        }
        .follows-btn {
          margin: 0 !important;
          border: none;
          font-size: 0.8rem;
        }
        .unfollow-btn {
          font-size: 0.8rem;
          color: white !important;
          margin-left: 2rem;
        }
        .follow-btn {
          font-size: 0.8rem;
          margin-left: 2rem;
        }
      }
    }
    .inform-area {
      .want-field, 
      .gone-field,
      .post-field,
      .like-field {
        padding: 0;
        .title-space {
          margin-bottom: 0.5rem;
          .title {
            margin-top: 0.5rem;
            font-size: 0.8rem;
            font-weight: bold;
          }
        }
        .field-inner {
          margin-bottom: 0.5rem;
          .name-space {
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            height: 40px;
            .name {
              font-size: 0.8rem;
            }
          }
          .address-space {
            margin-bottom: 1rem;
            height: 40px;
            .address {
              font-size: 0.8rem;
            }
          }
          .capcom-space {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
            p {
              display: inline-block;
            }
            .ttl {
              margin-right: 5px;
            }
            .capcom {

            }
          }
        }
      }
    }
  }
// }

/////////////////////////////////////////////////
//スマホ用レイアウト////////////////////////////
@media screen and (max-width: 767px) {

  // ユーザー一覧
  #user-index {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
    .search-area {
      .title-space {
        margin-bottom: 2rem !important;
        .title {
          font-size: 1rem;
          margin: 0 !important;
        }
      }
      .search-field {
        .search-space {
          .label {
            font-size: 1rem;
            margin-bottom: 1rem !important;
          }
          .search-space-inner {
            margin-bottom: 1rem;
            .search-form {
              height: 40px;
              width: 200px;
              font-size: 1rem;
              margin-right: 1rem !important;
            }
            .search-btn {
              margin: 0 !important;
            }
          }
        }
      }
    }

    .hit-area {
      .title-space {
        margin-bottom: 1rem !important;
        .title {
          font-size: 1rem;
          margin: 0 !important;
        }
      }
      .hit-field {
        .hit-space {
          margin: auto;
          margin-bottom: 1rem !important;
          .email-btn {
            font-size: 1rem;
            margin: 0 !important;
            padding: 0.5rem 0;
          }
        }
      }

    }
  }

/////////////////////////////////////////////////
  #user-show {
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      margin: 0 !important;
    }
    .follows-field {
      margin-bottom: 2rem;
      .email-space {
        text-align: center !important;
        margin-bottom: 1rem;
        .email {
          font-size: 1rem;
        }
      }
      .action-space {
        text-align: center !important;
        .search-btn {
          margin: 0 1rem !important;
          border: none;
        }
        .follows-btn {
          margin: 0 1rem !important;
          border: none;
        }
        .unfollow-btn {
          margin: 1rem 0 1rem 200px;
          color: white !important;
        }
        .follow-btn {
          margin: 1rem 0 1rem 200px;
        }
      }
    }
    .inform-area {
      .want-field, 
      .gone-field,
      .post-field,
      .like-field {
        .title-space {
          margin-bottom: 0.5rem !important;
          .title {
            margin-top: 0.5rem !important;
            font-size: 1.5rem;
            font-weight: normal !important;
          }
        }
        .field-inner {
          margin-bottom: 0.5rem;
          .name-space {
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            .name {
              font-size: 1rem;
            }
          }
          .address-space {
            margin-bottom: 1rem;
            .address {
              font-size: 1rem;
            }
          }
          .capcom-space {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 0.5rem !important;
            p {
              display: inline-block;
            }
            .ttl {
              margin-right: 5px !important;
            }
            .capcom {

            }
          }
        }
      }
      .like-field {
        .image-space {
          .image-space-inner {
            .image {

            }
          }
        }
      }
    }
  }
}




