@media screen and (max-width: 600px) {
  
  #wants-index {
    a, button, .listname_submit {
      color: gray;
      text-decoration: none;
      font-size: 13px;
      outline: none;
      &:hover {
        color: black;
      }
    }

    .card {
      margin-bottom: 10px;
    }
    
    .list_form {
      // height: 50px;
      .list_click, .list_click_consequence {
        text-align: center !important;
      }
      
      .list_btn {
        width: 90%;
        border: gray solid 1px;
      }
    }
    .listname_form_box {
      border-color: lightgray;
      outline: none;

      .listname_form {
        width: 90% !important;
        margin-right: 0px !important;
      }

      .listname_form_btn {
        width: 40%;
        border: gray 1px solid;
        margin-top: 10px !important;
      }
    }

    .name {
      font-size: 13px;
      font-weight: bold;
      padding-left:0;
      padding-right:0;
    }
    .address {
      font-size: 12px;
    }
    .date {
      color: gray;
      font-size: 11px;
      font-weight: bold;
    }
    .listname {
      font-size: 12px;
      height: 20px;
    }
    .caption {
      font-size: 13px;
      height: 20px;
    }
    .detail, .togo, .tonogo, .delete {
      font-size: 12px;
    }

    .detail_btn, .to_no_go_btn, .to_go_btn, .delete_btn {
      width: 40%;
      border: gray 1px solid;
      margin-bottom: 15px;
    }
    
  }
  
  #wants-show {
    .card {
      margin: 0 auto;
      margin-bottom: 15px;
      .card-content {
        margin: auto;

        .card-item {
          margin: 20px 0;
        }

        .name {
          font-size: 16px;
          font-weight: bold;
        }

        .address {
          font-size: 14px;
        }

        .date {
          color: gray;
          font-size: 11px;
          font-weight: bold;
        }

        a {
          color: gray;
          text-decoration: none;
          &:hover {
            color: black;
          }
        }

        .go_or_nogo, .top_page, .delete {
          padding: 0;
          margin: 0;
          margin-bottom: 15px;

          .top_btn, .go_btn, .no_go_btn, .delete_btn {
            font-size: 12px;
            width: 90%;
          }
        }
      }
    }
  }
  
}
  
// スマホ用レイアウト
@media screen and (min-width: 599px) {
  // 行きたいお店一覧
  #wants-index {
    h3 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    .search-field {
      .search-base-btn-space {
        text-align: center !important;
        .search-base-btn {
          margin: 0 !important;
          font-size: 1.3rem;
        }
      }
      .search-space {
        text-align: center !important;
        .search-space-inner {
          margin: 0 !important;
          .search-form {
            width: 200px;
            margin-right: 2rem !important;
          }
          .search-btn {
            margin: 0 !important;
            width: 100px;
          }
        }
      }
    }

    .want-field {
      p {
        margin: 0 !important;
      }
      .name-space {
        margin-bottom: 1rem;
        .name {
          font-size: 1rem;
        }
      }
      .address-space {
        text-align: center !important;
        margin: 1rem auto;
        .address {
          font-size: 1rem;
        }
      }
      .capcom-space {
        width: 80%;
        margin: 1rem auto;
        .ttl {
          font-size: 1rem;
        }
        .capcom {
          font-size: 1rem;
        }
      }
      .listname-space {
        width: 80%;
        margin: 1rem auto;
        .ttl {
          font-size: 1rem;
        }
        .listname {
          font-size: 1rem;
        }
      }
      .date-space {
        width: 80%;
        margin: 1rem auto;
        .date {
          font-size: 1rem;
        }
      }
      .action-field {
        margin: 0 !important;
        .detail-space {
          .detail-btn {
            font-size: 1.3rem;
            width: 150px;
          }
        }
        .gone-space {
          .to-no-go-btn {
            font-size: 1.3rem;
            width: 150px;
          }
          .to-go-btn {
            font-size: 1.3rem;
            width: 150px;
          }
        }
        .delete-space {
          .delete-btn {
            font-size: 1.3rem;
            width: 150px;
          }
        }
      }
    }
  }
  

  // 行きたいお店詳細
  #wants-show {
    h3 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    p {
      margin: 0 !important;
    }

    .info-area {
      .title-space {
        font-size: 1.3rem;
        margin-bottom: 30px;
      }
      .info-field {
        p {
          display: inline-block;
          font-size: 1rem;
        }
        .name-space {
          margin: 0 !important;
          margin-bottom: 1rem;
          .name {
            font-size: 1.3rem;
          }
        }
        .card-item {
          margin: 0 !important;
          margin-bottom: 1rem !important;
        }
        .budget-space, .caption-space, .listname-space {
          .ttl {
            margin-right: 5px;
          }
        }
      }
    }

    .action-area {
      .to-top-btn-space {
        padding: 0 !important;
      }
      .to-go-or-no-go-btn-space {

      }
      .delete-btn-space {

      }
      .btn {
        width: 250px;
        margin: 0 1rem !important;
      }
    }










    .card {
      margin: 0 auto;
    }
    .card-item {
      margin: 20px 0;
    }
    .name {
      font-size: 16px;
      font-weight: bold;
    }
    .address {
      font-size: 14px;
    }
    a {
      color: gray;
      text-decoration: none;
      font-size: 13px;
      &:hover {
        color: black;
      }
    }
    .card-content {
      margin: auto;
    }
    .go_or_nogo {
      padding: 0;
    }
    .top, .go, .no_go, .delete {
      font-size: 12px;
    }
    .date {
      color: gray;
      font-size: 11px;
      font-weight: bold;
    }
  }
}